

.categories{
   display: flex;
   justify-content: space-around;
   margin: 30px 50px 50px 50px;
   list-style: none;
}
.categories li{
   padding-bottom: 14px;
   cursor: pointer;
}

.categories .active {
   border-bottom: 3px #007163 solid;
}